KKRKsoNyckHkipZm-ONBOARDING_WORKFLOW.json
{
  "name": "ONBOARDING WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $('Update status to accepted').item.json.fields.Email }}",
        "subject": "Welcome to the Team 🎉",
        "emailType": "text",
        "message": "=  Hi {{ $('Update status to accepted').item.json.fields['Full Name'] }} , \n\nWelcome to the company!  Your first day is approaching and we’re excited to have you join us.  More details will follow shortly.  \n\nHR Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -96
      ],
      "id": "9118b493-046b-42a9-b3cb-b98455c1054c",
      "name": "Send Email 2 days before start date",
      "webhookId": "33c5f435-8157-453c-9d02-3ddcadfdb306",
      "credentials": {
        "gmailOAuth2": {
          "id": "rZC24jIIkZrECN4q",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Update status to accepted').item.json.fields.Email }}",
        "subject": "Tools & Setup",
        "emailType": "text",
        "message": "=  Hi {{ $('Update status to accepted').item.json.fields['Full Name'] }} , \n\nHere are the tools and accounts you will need.  [Add links or instructions]  \n\nHR Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1056,
        -96
      ],
      "id": "357acf8e-d4ac-4c42-8f2d-95a464bdd665",
      "name": "send Email on start day",
      "webhookId": "865b8db1-57ab-43a9-a954-c7da64a9d73f",
      "credentials": {
        "gmailOAuth2": {
          "id": "rZC24jIIkZrECN4q",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "apprI6AjAAtQwrAGV",
          "mode": "id"
        },
        "tableId": {
          "__rl": true,
          "value": "tblYqCHMUqmWD14zn",
          "mode": "id"
        },
        "triggerField": "Last modified time",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        16,
        -80
      ],
      "id": "fd17f462-aee1-4511-b2f8-c5961f16a7f3",
      "name": "Update status to accepted",
      "credentials": {
        "airtableTokenApi": {
          "id": "2KTY6jQ63cLlXfQJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "2026-04-16T07:00:00"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        -96
      ],
      "id": "79249957-8926-46a1-a087-d50889a0c819",
      "name": "wait for 2 days before start date",
      "webhookId": "931ca35e-d75b-43d5-88cf-7b27d8b87a4c"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "2026-04-16T07:11:00"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        -96
      ],
      "id": "223aa618-60ea-40a6-b528-0e5375e8026e",
      "name": "Wait till on start day",
      "webhookId": "7184b362-f2dd-4bcb-ba4d-54bca89c5a63"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Update status to accepted').item.json.fields.Email }}",
        "subject": "HR Check-in",
        "emailType": "text",
        "message": "=\n\nHi {{ $('Update status to accepted').item.json.fields['Full Name'] }}, \n\nWe’d love to hear how your first week is going. \n\n\nHR Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        144
      ],
      "id": "829c0d69-8145-4b87-8313-7a6f8825cb6f",
      "name": "Send Email on day 7",
      "webhookId": "5003ae67-51a4-458f-944d-ffb5a51eed13",
      "credentials": {
        "gmailOAuth2": {
          "id": "rZC24jIIkZrECN4q",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "2026-04-16T07:20:00"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        144
      ],
      "id": "f451cf90-866a-4602-b518-da8d0a06ea0e",
      "name": "Wait after 2days",
      "webhookId": "cdbe382f-df84-4b53-877f-c64dfadfdb6e"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "2026-04-16T07:28:00"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        144
      ],
      "id": "0862c221-a2af-4c39-9799-83f5b25805c5",
      "name": "Wait after 2days1",
      "webhookId": "0f4a8744-285a-4709-9ffb-87ea060c6175"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Update status to accepted').item.json.fields.Email }}",
        "subject": "Meet the Team",
        "emailType": "text",
        "message": "\n\n We’re excited to introduce you to your team.                                                                                                                                                                                  [Optional content]                               \n\n\n   HR Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        144
      ],
      "id": "0b1cf823-7a33-48df-9771-3adb5a2a6a1a",
      "name": "Send email on day3",
      "webhookId": "c106e7a1-da37-49fa-a6c6-384860d029e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "rZC24jIIkZrECN4q",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Update status to accepted').item.json.fields.Email }}",
        "subject": "30-60-90 Plan",
        "emailType": "text",
        "message": "\n\n\n  Here’s what we expect from you in your first 90 days.  \n\n\n\n\n\n\nHR Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        144
      ],
      "id": "b8b2e117-e142-48e8-bb53-601f0c3f36d2",
      "name": "Send email on day5",
      "webhookId": "134ff82f-b540-4fe3-8275-d1379d904f51",
      "credentials": {
        "gmailOAuth2": {
          "id": "rZC24jIIkZrECN4q",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "2026-04-16T07:33:00"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1168,
        144
      ],
      "id": "a2d8b272-5093-4f82-82dc-65b12f815aef",
      "name": "Wait after 2days2",
      "webhookId": "255657fa-591c-4c54-af00-43b4f27d7f70"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39a029a4-eee4-40ea-8603-20aa2a07b8cc",
              "leftValue": "={{ $json.fields.Status }}",
              "rightValue": "Accepted",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        -80
      ],
      "id": "73c43b37-af59-49d1-8495-0d38d835a7c3",
      "name": " If Accepted"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apprI6AjAAtQwrAGV",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblYqCHMUqmWD14zn",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Update status to accepted').item.json.id }}",
            "Status": "Onboarded"
          },
          "matchingColumns": [
            "id",
            "Status"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Role Applied",
              "displayName": "Role Applied",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Software Engineer",
                  "value": "Software Engineer"
                },
                {
                  "name": "Product Manager",
                  "value": "Product Manager"
                },
                {
                  "name": "Sales Executive",
                  "value": "Sales Executive"
                },
                {
                  "name": "Operations Officer",
                  "value": "Operations Officer"
                },
                {
                  "name": "Customer Support",
                  "value": "Customer Support"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Years of Experience",
              "displayName": "Years of Experience",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Applied",
                  "value": "Applied"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Interview Scheduled",
                  "value": "Interview Scheduled"
                },
                {
                  "name": "Offer Extended",
                  "value": "Offer Extended"
                },
                {
                  "name": "Accepted",
                  "value": "Accepted"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                },
                {
                  "name": "Review needed",
                  "value": "Review needed"
                },
                {
                  "name": "Offer sent",
                  "value": "Offer sent"
                },
                {
                  "name": "Onboarded",
                  "value": "Onboarded"
                },
                {
                  "name": "Interview Email sent",
                  "value": "Interview Email sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interview Date",
              "displayName": "Interview Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Rejection stage",
              "displayName": "Rejection stage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Screening",
                  "value": "Screening"
                },
                {
                  "name": "Interview",
                  "value": "Interview"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Application ID",
              "displayName": "Application ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Role link",
              "displayName": "Job Role link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Minimum Experience Required",
              "displayName": "Minimum Experience Required",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Technical Role",
              "displayName": "Is Technical Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Created time",
              "displayName": "Created time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Interviewer Email",
              "displayName": "Interviewer Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last modified time",
              "displayName": "Last modified time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "AI Score",
              "displayName": "AI Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "AI Summary",
              "displayName": "AI Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1552,
        144
      ],
      "id": "32cb48ee-ad8e-4e3e-b4c1-df57e718386c",
      "name": "updated to onboarded ",
      "credentials": {
        "airtableTokenApi": {
          "id": "2KTY6jQ63cLlXfQJ",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Send Email 2 days before start date": {
      "main": [
        [
          {
            "node": "Wait till on start day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status to accepted": {
      "main": [
        [
          {
            "node": " If Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send Email on start day": {
      "main": [
        [
          {
            "node": "Wait after 2days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wait for 2 days before start date": {
      "main": [
        [
          {
            "node": "Send Email 2 days before start date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait till on start day": {
      "main": [
        [
          {
            "node": "send Email on start day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email on day 7": {
      "main": [
        [
          {
            "node": "updated to onboarded ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait after 2days": {
      "main": [
        [
          {
            "node": "Send email on day3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait after 2days1": {
      "main": [
        [
          {
            "node": "Send email on day5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email on day3": {
      "main": [
        [
          {
            "node": "Wait after 2days1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email on day5": {
      "main": [
        [
          {
            "node": "Wait after 2days2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait after 2days2": {
      "main": [
        [
          {
            "node": "Send Email on day 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " If Accepted": {
      "main": [
        [
          {
            "node": "wait for 2 days before start date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Update status to accepted": {
      "lastTimeChecked": "2026-04-20T21:58:38Z"
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}